<div>
  <img
    src="../assets/logo.png"
    alt="LCO Logo"
    width="100"
    height="100"
    class="logo"
  />

  <h1 class="app-title">LCO ToDo List</h1>
</div>

<div class="container">
  Add a to do....<br />
  <input type="text" name="" class="input-text" placeholder="Type a To-Do" />

  <button class="add-btn">Add To-Do</button>

  <div class="list">
    <ul>
      <li>
        <input type="checkbox" name="isDone" />
        Task 1
        <button class="btn">Delete</button>
      </li>
    </ul>
  </div>
</div>
